.calendar-picker {
  margin-top: 8px;
  border-radius: 2px;
  background-color: #FFF;
  box-shadow: 0 2px 3px rgba(16, 22, 26, 0.1), 0 0 0 1px rgba(16, 22, 26, 0.1);
  display: flex;
}

.calendar-picker-calendar {}

.calendar-picker-trigger-wrapper {
  position: relative;
}

.calendar-picker-trigger {
  background: #FFF;
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 0;
  font-size: 14px;
  height: 31px;
  line-height: 1.5;
  padding-bottom: calc(0.375em - 1px);
  padding-left: calc(0.625em - 1px);
  padding-right: calc(0.625em - 1px);
  padding-top: calc(0.375em - 1px);
  padding-left: 1.8rem;
  &:hover {
    border-color: #b5b5b5;
  }
  &:focus {
    outline: none;
    border: 1px solid #3273dc;
    box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
  }
}

.calendar-picker-trigger-reset {
  appearance: none;
  -webkit-appearance: none;
  right: 2px;
  top: 1px;
  position: absolute;
  z-index: 30;
  // cursor: pointer;
  width: 24px;
  height: calc(100% - 2px);
  padding: 0;
  border: 0;
  &:hover {
    svg {
      fill: #1C99FE;
    }
  }
  &:focus {
    outline: none;
  }
  svg {
    fill: #1A497B;
    margin-right: 4px;
    margin-top: 4px;
    // width: 16px !important;
    // height: 16px !important;
  }
}

.calendar-picker-presets {
  padding: 12px;
  padding-right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // align-items: flex-start;
  margin-right: 2px;

}


/////
.calendar-picker {

  .DayPicker-NavButton.DayPicker-NavButton--prev {
    right: none;
    left: 12px;
    top: 12px;
  }

  .DayPicker-NavButton.DayPicker-NavButton--next {
    right: 12px;
    left: none;
    top: 12px;
  }

  .DayPicker-wrapper {
    padding-bottom: 12px;
  }

  .DayPicker-Caption {
    margin-bottom: 0;
    padding: 0;
    text-align: center;
    > div {
      font-size: 16px;
      font-weight: bold;
    }
  }

  .DayPicker-WeekdaysRow {
    font-weight: bold;
  }

  .DayPicker-Month {
    margin: 0 12px;
    margin-top: 12px;
  }

  .DayPicker-Months,
  .DayPicker-wrapper {
    &:focus {
      outline: none;
    }
  }

  .DayPicker-Day {
    font-size: 13px;
    &:hover {
      border-radius: 0;
      background-color: rgba(#1A497B, .2);
    }
    &:focus {
      outline: none;
    }
  }

  .DayPicker-Day.DayPicker-Day--today:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside):not(.DayPicker-Day--selected) {
    color: #3273dc;
  }

  .DayPicker-Day.DayPicker-Day--outside {
    opacity: .3;
  }

  .DayPicker-Day.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
    border-radius: 0;
    background-color: rgba(#1A497B, .6);
    &.DayPicker-Day--start {
      background-color: rgba(#1A497B, 1);
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
    &.DayPicker-Day--end {
      background-color: rgba(#1A497B, 1) !important;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }

}
